@inherits LayoutComponentBase

<div class="event-page">
    <h1>Eventos en practica</h1>
    <ul>
        <li>
            <NavLink href="/">Ir a Home</NavLink>
        </li>
        <li>
            <NavLink href="/Log-in">Log in</NavLink>
        </li>
        <li>
            <NavLink href="/Counter">Counter</NavLink>
        </li>
    </ul>
    @Body
</div>